In [5]:
# function to print all combinations of pairs of integers in unique list
#[1,2,3] -> (1,2),(2,3),(1,3) -> 3c2

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return

li = [1,2,3]
combinations(li)

1 2 3

In [10]:
def differencePairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
li = [1,9,8]
differencePairs(li)

[1, 9, 8, 7, 2]

In [2]:

def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
               
    return li    
differenceOfPairs([1,9])

[1, 9, 8, 7, 6, 5, 4, 3, 2]

### Set - Data Structure inPython

Reprsented by '{}'

In [5]:
a = {1,2,3,4,5,5}
a

{1, 2, 3, 4, 5}

In [6]:
a.add(7)
a

{1, 2, 3, 4, 5, 7}

In [8]:
for i in a:
    print(i,end=' ')

1 2 3 4 5 7

In [9]:
b = {7,8,9,1,2,3}

a.update(b)

a

{1, 2, 3, 4, 5, 7, 8, 9}

In [11]:
b = {7,8,9,1,2,3}
li = [12,23,34]

a.update(b,li)

a

{1, 2, 3, 4, 5, 7, 8, 9, 12, 23, 34}

In [13]:
a.discard(12)
a

{1, 2, 3, 4, 5, 7, 8, 9, 23, 34}

In [14]:
a-b#all elements of a which are not in b

{4, 5, 23, 34}

In [15]:
sorted(a)

[1, 2, 3, 4, 5, 7, 8, 9, 23, 34]

In [16]:
a ^ b #Elements either in a or in b

{4, 5, 23, 34}

### Functional Programming

Procedural : C
    
Object Oriented : Java
    
Scripting : PHP,Python,Javascript,Shell,Perl
    
Functional : Python , Haskell, Scala
    
Logic : Prolog ,Lisp

### List Comprehensions

In [19]:
# N natural numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Apply list comprehension to store the cubes on n natural numbers

li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [27]:
# Function  to calculate the m factorial

def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)

#Apply list comprehension to calculate factorila of n natural numbers
n = 9
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [34]:
n = 6
cumulativeSum = [sum(range(1,i+1)) for i in range (1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [41]:
# Function to store only leap years in a given time
st = 1970
et = 2019
leapYears = []
leapYearsList = [i for i in range(st,et+1) if i% 400==0 or (i%4==0 and i%100!=0)]
leapYearsList

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [44]:
li = [1,2,3,2,1]
unique = []
unique = [i for i in ]
unique

[1, 2, 3]

### Iterators

iterable - Strings , Lists ,Tuples

Convert Iterable to Iterator 

For Loop:

Iterator :

In [48]:
it = iter('Python')

next(it)
next(it)

'y'

### Generators

Generator is Function

In [57]:
def generator():
    n = 2
    yield n
    
    n= n**3
    yield n
    
    n = n**3
    yield n

a = generator()

next(a)
next(a)
next(a)

512

In [64]:
def generator():
    n=2
    for i in range(1,5+1):
        n **= 3
        yield n
        
a = generator()

next(a)
next(a)
next(a)
next(a)
next(a)

14134776518227074636666380005943348126619871175004951664972849610340958208